<?xml version="1.0" encoding="UTF-8"?>
<server description="OpenLiberty Java EE 8 Server">

    <!-- Enable features -->
    <featureManager>
        <feature>javaee-8.0</feature>
        <feature>mpOpenTracing-1.2</feature>
        <feature>microProfile-2.1</feature>
    </featureManager>
    <!-- To allow access to this server from a remote client host="*" has been added to the following element -->
    <httpEndpoint id="defaultHttpEndpoint" host="*" httpPort="9080" httpsPort="9443" />

    <!-- default keystore is required by the CORBA ORB (and full Java EE 8 spec) -->
    <keyStore id="defaultKeyStore" password="Liberty" />

    <basicRegistry id="basic" realm="MicroProfileMetrics">
        <user name="admin" password="adminadmin"/>
        <user name="nonadmin" password="guest" />
    </basicRegistry>
    <administrator-role>
        <user>admin</user>
    </administrator-role>
    <!-- Automatically expand WAR files and EAR files -->
    <applicationManager autoExpand="true"/>

    <dataSource id="DefaultDataSource" jndiName="jdbc/mySQL">
        <jdbcDriver libraryRef="MySQLLib"/>
        <properties databaseName="brobank-admin" serverName="localhost" portNumber="3306" user="root" password="example"/>
    </dataSource>

    <library id="MySQLLib">
        <file name="./mysql-connector-java-8.0.15.jar"/>
    </library>
</server>